<%- include('partials/header') %>
	<form action='/login' method='post'>
		<h2>Introduce tu nombre</h2>
		<input type="text" name="usuario" class="form-control" id="usuario">
		<br>
		<h2>Introduce tu contraseña</h2>
		<input type="text" name="contraseña" class="form-control" id="contraseña">
		<br>
		<input type="submit" name="boton" value="Enviar">
	</form>
<%- include('partials/footer') %>