<%- include('partials/header') %>
	<form method='post'>
		<h2>Introduce tu nombre</h2>
		<input type="text" name="usuario">
		<br>
		<h2>Introduce tu contraseña</h2>
		<input type="text" name="contraseña">
		<br>
		<input type="submit" value="Registrarse">
	</form>
<%- include('partials/footer') %>